<% const rootPath = './'; const title =
'カフェ Mr.M COFFEE(ミスターエムコーヒー)'; const filename = 'index';
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include(`./templates/_head`, { title, rootPath, filename }) -%>
  </head>

  <body>
    <header>
      <div class="container text-center">
        <h1><a href="index.html"><img src="./img/logo.png" alt="カフェMr.M COFFEE"></a></h1>
      </div>
      <!-- navigation -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
          <a href="index.html" class="navbar-brand">Mr.M COFFEE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a href="#" class="nav-link">Top<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Menu</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Coupon</a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Infomation</a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Shop</a>
                  <a href="#" class="dropdown-item">Access</a>
                </div>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#contact" class="nav-link btn btn-info">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- /navigation-->
    </header>
    <main>
      <!-- carousel　-->
      <div class="py-4">
        <div class="container">
          <div id="main_visual" class="carousel slide" deta-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#main_visual" data-slide-to="0" class="active"></li>
              <li data-target="#main_visual" data-slide-to="1"></li>
              <li data-target="#main_visual" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="img-fluid" src="./img/slide_01.jpg" alt="コーヒー写真">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Mr.M COFFEEのこだわり</h2>
                  <p>店主が世界中のコーヒー豆を厳選し、コーヒー豆の種類に合わせ、心を込めて焙煎、抽出しております。</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid" src="./img/slide_02.jpg" alt="ランチ写真">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Mr.M COFFEEのメニュー</h2>
                  <p>ほげ</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid" src="./img/slide_03.jpg" alt="店内写真">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Mr.M COFFEEの空間</h2>
                  <p>ふが</p>
                </div>
              </div>
              <!-- controler -->
              <a href="#main_visual" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">前に戻る</span>
              </a>
              <a href="#main_visual" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">次へ進む</span>
              </a>
              <!-- /controler -->
            </div>
          </div>
        </div>
      </div>
      <!-- /carousel　-->
      <!-- contents01 -->
      <div class="py-4">
        <section id="news">
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <h3>News</h3>
              </div>
              <div class="col-md-10">
                <dl class="row">
                  <dt class="col-md-3">2017年X月Y日</dt>
                  <dd class="col-md-9">ランチクーポン配布中です。</dd>
                  <dt class="col-md-3">2018年X月Y日</dt>
                  <dd class="col-md-9">限定メニューの公開です。</dd>
                  <dt class="col-md-3">2019年X月Y日</dt>
                  <dd class="col-md-9">新しい雑貨さん入荷しました。</dd>
                </dl>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /contents01 -->
      <!-- contents02 -->
      <div class="py-4"></div>
      <!-- /contents02 -->
      <!-- contents03 -->
      <div class="py-4"></div>
      <!-- /contents03 -->
      <!-- contents04 -->
      <div class="py-4"></div>
      <!-- /contents04 -->
    </main>
  </body>
</html>
